@using kanban.ViewModels
@model CrearTableroViewModel

<form asp-controller="Tablero" asp-action="Crear" method="post">
    <div class="mb-3">
        <label for="nombre" class="form-label" asp-for="Nombre">Nombre: </label>
        <input type="text" class="form-control" id="nombre" asp-for="Nombre">
    </div>

    <div class="mb-3">
        <label for="descripcion" class="form-label" asp-for="Descripcion">Descripción: </label>
        <input type="text" class="form-control" id="descripcion" asp-for="Descripcion">
    </div>


    <div class="mb-3">
        <label for="Usuario" class="form-label" asp-for="IdUsuarioPropietario">Usuario propietario: </label>
        <select asp-for="IdUsuarioPropietario" asp-items="@ViewBag.Users">
            <option value="">Selecciona un usuario</option>
        </select>
    </div>



    <button type="submit" class="btn btn-primary">Crear</button>
</form>