@using kanban.ViewModels
@model ModificarTareaViewModel

@{
    ViewData["Title"] = "Editar Tarea";
}

<form asp-controller="Tarea" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="form-group"></div>
    <label for="IdUsuarioAsignado" asp-for="IdUsuarioAsignado">ID Usuario Asignado:
    </label>
    <input type="number" class="form-control" id="IdUsuarioAsignado" asp-for="IdUsuarioAsignado">
    </div>

    <div class="form-group"></div>
    <label for="IdTablero" asp-for="IdTablero">ID Tablero:
    </label>
    <input type="number" class="form-control" id="IdTablero" asp-for="IdTablero">
    </div>

    <div class="form-group"></div>
    <label for="nombre" asp-for="Nombre">Nombre: </label>
    <input type="text" class="form-control" id="nombre" asp-for="Nombre">
    </div>

    <div class="form-group"></div>
    <label for="descripcion" asp-for="Descripcion">Descripción: </label>
    <input type="text" class="form-control" id="descripcion" asp-for="Descripcion">
    </div>

    <div class="form-group"></div>
    <label for="color" asp-for="Color">Color: </label>
    <input type="text" class="form-control" id="color" asp-for="Color">
    </div>

    <div class="form-group"></div>
    <label for="Estado" asp-for="Estado">Estado: </label>
    <input type="text" class="form-control" id="Estado" asp-for="Estado">
    </div>


    <button type="submit" class="btn btn-primary">Crear</button>
</form>