@using kanban.Models
@using kanban.ViewModels
@model CrearUsuarioViewModel

<form asp-controller="Usuario" asp-action="CrearUsuario" method="post">
    <div class="mb-3">
        <label for="NombreDeUsuario" class="form-label" asp-for="NombreDeUsuario">Nombre: </label>
        <input type="text" class="form-control" id="NombreDeUsuario" asp-for="NombreDeUsuario">
    </div>
    <div class="mb-3">
        <label for="Contrasena" class="form-label" asp-for="Contrasena">Contraseña: </label>
        <input type="password" class="form-control" id="Contrasena" asp-for="Contrasena">
    </div>
    <div class="mb-3">
        <label for="Rol" class="form-label" asp-for="Rol">Rol: </label>
        <select asp-for="Rol" asp-items="Html.GetEnumSelectList<Roles>()">
            <option value="">Selecciona un estado</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
</form>